<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeProizvod</servlet-name>
        <servlet-class>servlets.HomeProizvod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeKategorija</servlet-name>
        <servlet-class>servlets.HomeKategorija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddKategoriju</servlet-name>
        <servlet-class>servlets.AddKategoriju</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditKategorija</servlet-name>
        <servlet-class>servlets.EditKategorija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteKategorija</servlet-name>
        <servlet-class>servlets.DeleteKategorija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProizvod</servlet-name>
        <servlet-class>servlets.AddProizvod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProizvod</servlet-name>
        <servlet-class>servlets.EditProizvod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProizvod</servlet-name>
        <servlet-class>servlets.DeleteProizvod</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeProizvod</servlet-name>
        <url-pattern>/HomeProizvod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeKategorija</servlet-name>
        <url-pattern>/HomeKategorija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddKategoriju</servlet-name>
        <url-pattern>/AddKategoriju</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditKategorija</servlet-name>
        <url-pattern>/EditKategorija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteKategorija</servlet-name>
        <url-pattern>/DeleteKategorija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProizvod</servlet-name>
        <url-pattern>/AddProizvod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProizvod</servlet-name>
        <url-pattern>/EditProizvod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProizvod</servlet-name>
        <url-pattern>/DeleteProizvod</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
